.menu a{
    transition: 0.5s all ease;
}

.menu li.active{
    color: #454E54;
}

.menu li:hover{
    color: #111B47;
}

footer .menu li,
footer .menu li.active{
    color: #929ECC;
    font-size: 14px;
}
