.btn-component{
    background-color: #111B47;
    color: #fff;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    min-width: 160px;
    padding: 5px 0 ;
    cursor: pointer;
}

.btn-component.big{
    min-width: 190px;
    font-size: 16px;
}

.btn-component.secondary{
    background-color: transparent;
    border: 2px solid #454E54;
    color: #454E54;
}