.hero-bg-shape{
    background-image: url(../../img/hero-shape.png);
    background-repeat: no-repeat;
    width: 62.5rem;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -20px;
    z-index: -1;
  }
  
  .hero-section .heading-paragraph-container p{
    color: #505F98!important;
    font-size:18px;
    line-height: 30px;
  }
  
