.hero-bg-shape{
    background-image: url(../../img/hero-shape.png);
    background-repeat: no-repeat;
    width: 62.5rem;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -20px;
    z-index: -1;
  }
  
  .hero-section p{
    color: #505F98!important;
    font-size:18px;
    line-height: 30px;
  }
  

  @media only screen and (max-width: 900px) {
    .hero-bg-shape{
      
      width: 30rem;
      height: 50%;
      position: absolute;
      top: 0px;
      right: -20px;
      z-index: -1;
    }
  }
