
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
  font-family: 'roboto';
}

h1,h2,h3,h4{
  color: #454E54;
  font-weight: 500;
}

h1{
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  
}

.d-flex {
display: flex;
}

.justify-content-between{
justify-content: space-between;
}

.v-center{
  align-items: center;
}




